body{
    background-color: white;
}

.billetBanque {
    margin: auto;
    margin-top: -9px;
    background-color: #fff;
    width: 300px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}

input[type=number] {
	-moz-appearance: textfield;
}


.input-group {
    width: 66.6666666667%;
}

.input-group-text{
    border-radius: 0;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    line-height: 1.55;
}


@media only screen and (max-width: 800px) {
    /* Force table to not be like tables anymore */
    #operations table,
    #operations thead,
    #operations tbody,
    #operations th,
    #operations td,
    #operations tr {
    display: block;
    }
     
    /* Hide table headers (but not display: none;, for accessibility) */
    #operations thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
    }
     
    #operations tr { border: 1px solid #ccc; }
      
    #operations td {
    /* Behave like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align:left;
    line-height: 1,55;
    }
     
    #operations td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
    }
     
    /*
    Label the data
    */
    #operations td:before { content: attr(data-title); }
    }